/*

10 by 20 is the classic size of the tetris well 

*/
body,
html {
  font-family: "Press Start 2P", cursive;
}

.title {
  margin: 0;
  padding: 50px;
  text-align: center;
}
.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

canvas {
  border: 0.1px solid #f0f0f0;
}

.scoreboard {
  margin: 0;
  padding: 0 10px 0 20px;
}
