/*

10 by 20 is the classic size of the tetris well 

*/
body,
html {
  font-family: "Press Start 2P", cursive;
  max-width: 100%;
  overflow-x: hidden;
}

.title {
  margin: 0;
  padding: 50px;
  text-align: center;
}
.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

canvas {
  border: 0.1px solid #f0f0f0;
}

.scoreboard {
  margin: 0;
  padding: 0 10px 0 20px;
  text-align: center;
}

.leaderboard {
  margin: 0;
  padding: 0 20px 0 10px;
}

#score {
  margin: 0;
  font-size: 50px;
  text-align: center;
}
